*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bgColor);
}
:root{
    --bgColor:white;
    --pryColor:rgb(64, 123, 255);
    --secColor:rgb(1, 20, 60);
    --greyColor:rgb(230, 230, 230);
    --beigeColor:beige;
    --textColor:black;
}
.darkTheme{
--bgColor: rgb(0, 0, 20);
    --pryColor: rgb(64, 123, 255);
    --secColor: rgb(1, 20, 60);
    --greyColor: rgb(36, 35, 35);
        --textColor: white;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
position: relative;
}


.hero-svg{
    margin: auto;
    width: 500px;
    height: 500px;
    margin-left: 90px;
}
.hero-left{
    width: 600px;
    height: 100vh;
    background: var(--greyColor);
    text-align: center;
    display: flex;
    flex-direction: column;
 align-items: center;
    justify-content: center;
    margin-left: 262px;
    color: var(--textColor);
}
.logo{
    width: 150px;
    height: 150px;
margin-top: 0;
}
.hero-btn{
background: var(--pryColor);
    padding: 10px 40px;
    margin-top: 2rem;
    border: 1px solid var(--pryColor);
    color: var(--bgColor);
    transition: 2s ease-in-out;
    border-radius: 2px;
}
.hero-btn:hover{
background:var(--secColor) ;
color: var(--textColor);
    border: 1px solid var(--secColor);
}
p{
    line-height: 1.5;
    margin-top: 1rem;
    font-size: 24px;
}
.moon{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 1.5rem;
    color:var(--pryColor) ;
    cursor: pointer;
}
.sun {
    color: var(--bgColor);
    position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: 1.5rem;
        color: var(--pryColor);
        cursor: pointer;
}