@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --bg-color:#F3F3F3
}
body{
    font-family: 'Inter', sans-serif;
}
/* hero */
.container{
    background-color: var(--bg-color);
    height: 100vh;
}
.inner-container{
    max-width: 1400px;
    padding: 1rem 3rem;
    margin: 0 auto;
    position: relative;
}
h3{
 font-weight: 400;
}
h1{
    margin-bottom: 15px;
}
h4{
    margin: 0 1rem;
font-weight: 400;
  font-size: small;
}

.para-one{
    margin-bottom: 10px;
}
p{
    margin: 5px 0;
}
.menu{
    max-width: 40px;
    max-height:40px ;
}
.cart{
    max-width: 15px;
    max-height:15px;
}
header{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
    margin: 0 auto;
}
nav ul{
    display:flex ;
    list-style: none;
    align-items: center;
    
}
.navlink{
   margin-right: 15px;
}
.btn{
    padding: 10px 52px;
   border: 1px solid black;
   margin-top: 40px;
}
 .hero{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap: 20%;
 align-items: center;
 justify-content: center;
 position: relative;
 margin-top: 6em;


 }
 .hero-img{
    max-width: 500px;
    max-height: 500px;
 }
.hero-nav{
    position: absolute;
    top: 120%;
    right: 20%;
display: flex;
align-items: center;

}
.hero-navtwo {
    position: absolute;
    top: 160%;
    right: 80%;

}
.strike{
    text-decoration: line-through;
}
/* main */
.all-cards{
   display: flex;
    margin: 2rem auto;
    justify-content: center;
   gap: 3rem;
    padding: 1rem 4rem;
flex-flow: row wrap;
}
.card{
    background-color: var(--bg-color);
    text-align: center;
    position: relative;
    padding: 1.5rem 0;
  width: 100%; 
  height: auto;
  max-width: 250px;
}
.perfume {
    margin-top: 40px;
    
}
.space{
    padding-top: 30px;
}
.card-cart{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25px;
    height: auto;
}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px ;
   
}
.main-heading h3{
    margin-left: 20px;
}
.card-img{
    width: 150px;
  height: 150px;
  object-fit: contain;
}




