@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}
:root {
  --marginButtom:20px;
  --pryColor:black;
  --bg:#FFC117;
  --secColor:white;
  --pColor:#242424;
}
.darkTheme{
--pryColor: white;
    --bg: rgb(31, 31, 31);
    --secColor: black;
    --pColor: #f6f6f6;
}

img{
   max-width: 100%;
    display: block;
}
a{
text-decoration: none;
color: var(--pryColor);
}
.inner-margin{
    max-width: 1042px;
    margin: 0 auto;

}
header{
background-color: var(--bg);
    border-bottom: 1px solid var(--pryColor);
}
nav{
    display: flex;
    /* flex-wrap: wrap; */
        align-items: center;
        justify-content: space-between;
        padding: 25px 0px;
height: 75px;
max-width: 1192px;
margin: 0 64px;
}
  .nav-btn{
    background-color: var(--pryColor);
        padding: 8px 16px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
}
.nav-btn a{
    color: var(--secColor);
}
 .logo{
    width: 200px;
}
ul {
    display: flex;
    list-style-type: none;
    width: 417px;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
.hamburger{
    display: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.sun{
    color: var(--pryColor);
}
.hero{
    display: flex;
    justify-content: space-between;
position: relative;
    background-color: var(--bg);
    margin-bottom: 1rem;
    padding: 10px 0;
}
.content{
display: flex;
flex-direction: column;
padding-top: 93px;
margin: 0 64px;
max-width: 550px;
}
h1{
    font-family: 'Playfair Display', serif;
  font-size: 4rem;
margin-bottom: var(--marginButtom);
color: var(--pryColor);
}
.hero-p{
    color: var(--pColor);
    line-height: 24px;
    font-size: 24px;
    font-weight: 400;
word-wrap: wrap;
    margin-bottom: var(--marginButtom);
}
.hero-btn{
    background-color: var(--pryColor);
        padding: 8px 20px;
        color: var(--secColor);
        border-radius: 20px;
        border: none;
        cursor: pointer;
       width: 213px;
        font-size: 20px;
        margin-top: var(--marginButtom);
}


.modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.882);
    display: none;
    z-index: 3;
   
}
form{
width: 500px;
margin: 300px auto;
padding: 4rem;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
border: 1px solid grey;
border-radius: 10px;
box-shadow: -1px 0px 27px 0px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: -1px 0px 27px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: -1px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
.row{
    display: flex;
    padding: 10px;
    column-gap: 10px;
 justify-content: space-around;

}

@media screen and (max-width:600px){
/* header {
        position: fixed;
        width: 90%;
        overflow-x: hidden;
    } */
  ul {
      position: fixed;
      left:-130%;
      top: 80px;
      /* Adjust based on your header height */
      background-color: var(--bg);
      /* Adjust based on your design */
      width: 100%;
      text-align: center;
      transition: left 0.5s ease;
      padding: 20px;
      overflow-x: hidden;
      z-index: 1;
      flex-direction: column;
box-shadow: 3px -1px 34px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px -1px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px -1px 34px 0px rgba(0, 0, 0, 0.75);
  }

  ul.active {
      left: 0;
  }

  li {
  
      margin: 16px 0;
  }

  .hamburger {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
      z-index: 2;
      /* Ensure it's on top of other elements */
  }

  .hero-btn {
      display: block;
      width: 100%;
  }
}